absl-py==1.0.0
alabaster==0.7.12
APScheduler==3.8.1
Babel==2.9.1
backoff==1.11.1
beautifulsoup4==4.10.0
blis==0.7.5
Bootstrap-Flask==1.8.0
bs4==0.0.1
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
ConferenceCorpus==0.0.29
cssselect==1.1.0
cycler==0.11.0
cymem==2.0.6
datefinder==0.7.1
docopt==0.6.2
docutils==0.17.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
feedfinder2==0.0.4
feedparser==6.0.8
filelock==3.4.0
Flask==2.0.3
Flask-Dropzone==1.6.0
Flask-HTTPAuth==4.5.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
fonttools==4.29.1
geographiclib==1.52
geograpy3==0.2.2
geograpy4==1.0.2
geojson==2.5.0
geopy==2.2.0
gitdb==4.0.9
GitPython==3.1.24
google==3.0.0
greenlet==1.1.2
habanero==1.0.0
idna==3.3
imagesize==1.3.0
interchange==2021.0.4
isodate==0.6.0
itsdangerous==2.1.0
jellyfish==0.8.9
jieba3k==0.35.1
Jinja2==3.0.3
joblib==1.1.0
jsonpickle==2.0.0
kiwisolver==1.3.2
langcodes==3.3.0
latexcodec==2.0.1
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.5.1
monotonic==1.6
murmurhash==1.0.6
mwclient==0.10.1
mwoauth==0.3.7
newspaper3k==0.2.8
nltk==3.6.5
num2words==0.5.10
numpy==1.21.4
oauthlib==3.1.1
ortools==9.3.10459
OSMPythonTools==0.3.4
p5py==1.0.0
packaging==21.3
pandas==1.3.4
pansi==2020.7.3
pathy==0.6.1
pep517==0.12.0
Pillow==8.4.0
pipdeptree==2.2.1
preshed==3.0.6
protobuf==3.19.4
py-3rdparty-mediawiki==0.5.4
py2neo==2021.2.3
pybtex==0.24.0
pycountry==20.7.3
pycryptodome==3.12.0
pydantic==1.8.2
pydevd==2.8.0
PyDispatcher==2.0.5
pyFlaskBootstrap4==0.4.5
Pygments==2.10.0
PyJWT==1.7.1
pylatexenc==2.10
pylodstorage==0.1.17
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywikibot==6.6.3
PyYAML==6.0
rdflib==6.0.2
regex==2021.11.10
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.0
scikit-learn==1.0.1
scipy==1.7.3
setuptools-scm==6.3.2
sgmllib3k==1.0.0
simplejson==3.17.6
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3.1
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SPARQLWrapper==1.8.5
Sphinx==4.3.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.32
SQLAlchemy-Utils==0.38.2
srsly==2.4.2
tabulate==0.8.9
thinc==8.0.13
threadpoolctl==3.0.0
tinysegmenter==0.3
tldextract==3.1.2
tomli==1.2.2
tqdm==4.62.3
typer==0.4.0
typing_extensions==4.0.0
tzdata==2021.5
tzlocal==4.1
ujson==5.1.0
urllib3==1.26.7
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==2.0.3
wikibaseintegrator==0.11.1
wikirender==0.0.34
wikitextparser==0.47.9
WTForms==3.0.1
xarray~=0.20.2
