{% extends 'base.html' %}

{% block content %}
    <h1>Event Series Matching</h1>
    <form action="/match" method="GET">
        <div class="row">
            <div class="col-md-6">
                Please enter the acronym (and any extra known data) of the event whose series you'd like to look up:
                <textarea id="inputbox" name="input" rows="2" cols="200"></textarea>
            </div>
        </div>
        <div class="row">
            <div id="matchcol" class="col-md-6">
                <button type='submit' id="submitter">Search</button>
            </div>
        </div>
        <div class="row">
            <div id="sourcelink" class="col-md-6">
                <a href="https://github.com/svetl1/kgleventseriescc" target="_blank"><i class="bi-github">GitHub Source Code</i></a>
            </div>
        </div>
        {% if request.args.get("input") != None %}
        {{result}} Series Data:
            <div>
                {{ table|safe }}
            </div>
        {% endif %}
            <!-- result metadata optional from here -->
            <!-- errors -->
            <div class="row">
                {% if errors is not none %}
                {% for e in errors %}
                <pre><span style="color:darkred">{{err}}</span></pre>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
